 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        I have been building software products and maintaining software systems for the last 20 years. Armed with a degree in Computer Science but without a clue as to what I was getting into, I started out as a programmer but have had the good fortune to do a variety of roles during this time.
                    </p>
                    <p>
                        Being a Programmer, Product Owner, Project Manager, QA lead, Scrum Master and Solution Architect across large and small teams have given me a great opportunity to understand not only why products and projects succeed but more importantly also to understand why and where they tend to fail.
                    </p>
                    <p>
                        My ability to analyze problems to get to root causes and a willingness to learn - especially from mistakes both mine and others, has helped me to adapt and grow.
                    </p>
                </div>
                <div class="col-lg-6">
                    <p>
                        Moving to a relatively small product company in SE Asia to build niche financial services products after spending 10 years doing software consulting for 2 of the biggest consulting firms in the world dealing mainly with North American clients has been a great learning experience that has broadened my expertise and exposed me to new challenges and opportunities.     
                    </p>
                    <p>
                        While it is always fun to come up with a high-tech solution to any problem using the latest technology available, I have learned that sometimes a low-tech or even a non-technical solution might be the most appropriate one depending on the constraints of the situation. I now endeavour to find the most sustainable solutions to problems faced by our customers. 
                    </p>
                </div>
            </div>
        </div>
    </section>